name: Generate PHP Documentation

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: 8.1

    - name: Install phpDocumentor
      run: |
        composer global require phpdocumentor/phpdocumentor

    - name: Generate Docs
      run: |
        ~/.composer/vendor/bin/phpdoc -d php/ -t docs/
